Binary `text/plain` attachment considered as `PartType::Text` instead of `PartType::Binary`

Given the following builder:

```rust
let msg = MessageBuilder::new()
    .from("from@localhost")
    .to("to@localhost")
    .subject("subject")
    .text_body("Hello, world!")
    .binary_attachment("text/plain", "attachment.txt", "Hello, world!".as_bytes())
    .write_to_string()
    .unwrap();

```

Which compiles to:

```eml
From: <from@localhost>
To: <to@localhost>
Subject: subject
Message-ID: <176218bdb01133ec.2d80ee539da5279a.52ee893e4d3a9db2@soywod>
Date: Wed, 24 May 2023 13:53:33 +0000
Content-Type: multipart/mixed; 
	boundary="176218bdb01183df_cbb8680d1cefa3af_52ee893e4d3a9db2"


--176218bdb01183df_cbb8680d1cefa3af_52ee893e4d3a9db2
Content-Type: text/plain; charset="utf-8"
Content-Transfer-Encoding: 7bit

Hello, world!
--176218bdb01183df_cbb8680d1cefa3af_52ee893e4d3a9db2
Content-Type: text/plain
Content-Disposition: attachment; filename="attachment.txt"
Content-Transfer-Encoding: 7bit

Hello, world!
--176218bdb01183df_cbb8680d1cefa3af_52ee893e4d3a9db2--
```

If I parse back this email with `mail-parser`, the body of the attachment is considered a `PartType::Text`. In my opinion it should be a `PartType::Binary` as it was intended with the builder.


The `binary_attachment` functions allows you to provide the part contents using byte array but what determines how the message is interpreted by the MUA is the Content-Type header. Use the `application/octet-stream` content-type and mail-parser should parse it as a `PartType::Binary`:

```
let msg = MessageBuilder::new()
    .from("from@localhost")
    .to("to@localhost")
    .subject("subject")
    .text_body("Hello, world!")
    .binary_attachment("application/octet-stream", "attachment.txt", "Hello, world!".as_bytes())
    .write_to_string()
    .unwrap();
```

> but what determines how the message is interpreted by the MUA is the
> Content-Type header.

I must disagree on this. I am pretty sure the Content-Disposition is
more prioritary than the Content-Type. To confirm, I saved the built
email I mentioned earlier then opened it in both posteo and gmail web
view, and they both consider the text/plain attachment as an attachement
(outside of the text/plain main body).

> Use the `application/octet-stream` content-type and mail-parser should
> parse it as a `PartType::Binary`

Yes it works, but then my part is not a text/plain anymore.


![screenshot](https://github.com/stalwartlabs/mail-builder/assets/10437171/f4d02bbc-88e9-495d-b480-ec3fe706bc53)
![screenshot](https://github.com/stalwartlabs/mail-builder/assets/10437171/b48d7a65-0588-4e2b-beef-de0f9c3975c8)


Perhaps the method name is causing confusion. Both text_contents and binary_contents generate the exact same MIME part. The difference is that binary_contents takes a byte array while text_contents takes a string. I should probably remove both functions and create just one called contents that takes either a string or an array.

On the mail-parser side, only text/* parts are returned as string. This is because text parts can be safely converted to a String by reading the charset attribute in the Content-Type. Of course there are other MIME parts that could be converted to text as well, but the library aims to be performant and does not inspect whether a part is binary or text. Converting non text MIME parts to a String in a safe way is left to the library user.

> Both text_contents and binary_contents generate the exact same MIME part. The difference is that binary_contents takes a byte array while text_contents takes a string.

I see what you mean, indeed merging them is a good idea!

So if I understand well, I should not rely on `PartType` to determine if a part is an attachment or not? `PartType::Binary` does not always mean attachment, and `PartType::Text` does not always mean text body? I should instead check the content disposition via `part.content_disposition().unwrap().is_attachment()`?

If so then `PartType::InlineBinary` is also confusing, because the name implies that the content disposition is `inline`.

> So if I understand well, I should not rely on PartType to determine if a part is an attachment or not? PartType::Binary does not always mean attachment, and PartType::Text does not always mean text body? I should instead check the content disposition via part.content_disposition().unwrap().is_attachment()?

Mail-parser uses the algorithm described in [RFC8621 section 4.1.4](https://datatracker.ietf.org/doc/html/rfc8621#autoid-35) to determine whether a part is inline or an attachment and their part ids are stored in the `html_body`, `text_body` and `attachments` fields according to this criteria. So, to obtain the attachments list you can use the `Message::attachments` method and to obtain the HTML body parts including embedded images you can use the `Message::html_bodies` method.
If you do not like the algorithm described in RFC8621 you can ignore those fields and just iterate the `parts` field and decide whether a part is an attachment or not using the Content-Disposition or other criteria.






I have to choice to iterate the parts, because some parts need to be processed:

- Encrypted parts need to be decrypted then parsed (they may contain other sub parts)
- Signed parts need to be verified then parsed (they also may contain other sub parts)
- Plain text parts may contain template language that needs to be compiled then parsed (again, it can compile to new sub parts)

I was able to make everything work as expected, I will open a discussion once done, I would love your feedback on the implementation. Thank you for your help!